{% extends "base.html" %}
{% load static %}
{% block search%}
  <form class="form-inline my-2 my-lg-0">
      
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="si" value="{{ request.GET.si }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    
  </form>

  {% endblock %}  
  {% block backgroundcss%}
   style="background-color: #FFFF;"
  {% endblock %}
{% block content%}


  <h1>My Post : </h1>
  <a style="padding-inline-end: 12px; margin-left: 10px;" class="btn btn-outline-dark" href="/students/mypost/create">New Post<span style="padding-inline-start: 8px" class="fa fa-plus"></span> </a>
  <hr>
  <div class="col-sm-4 offset-sm-4"> 
    {% for n1 in mypost_list %}
    <div class="shadow mb-4 bg-white">
<div class="card w-55">
  <div class="card-body;">
     <div class="col">
        <div class="row">
        <a href="/students/profiles/{{ user.profile.id }}"><h4 style="margin-left:10px;"> {{n1.uploaded_by}}</h4></a>
          <a style="margin-left: 320px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i style="color: dimgray;" class="fas fa-ellipsis-h"></i>
            </a>
           <div style="margin-left: -131px;" class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a onMouseOver="this.style.color='#FFFFFF'; this.style.backgroundColor='#0f5ef2'"onMouseOut="this.style.color='#000000';this.style.backgroundColor='#FFFFFF'" style="padding-left: 0px;" class="dropdown-item" href="/students/mypost/edit/{{n1.id}}"><span style="padding-inline-start: 8px">Edit post</span> </a>
            
            <a onMouseOver="this.style.color='#FFFFFF'; this.style.backgroundColor='#0f5ef2'"onMouseOut="this.style.color='#000000';this.style.backgroundColor='#FFFFFF'" style="padding-left: 8px;" class="dropdown-item" href="/students/mypost/delete/{{n1.id}}">Delete<span style="padding-inline-start: 8px" class="far fa-trash-alt"></span> </a>
           
          </div>
         </div>
      <h6 style="margin-left:-5px;margin-top: -6px; ">{{n1.cr_date | date:"d/m/y"}}</h6>
      <h4>{{n1.msg}}</h4>
        <hr>  
      <a href="/students/mypost/{{n1.id}}"><img style="width: 100%; height: aouto;border-radius: 3%;" src='/media/{{n1.pic}}'></a> 
      <hr>
    <div class="row">
      
          <i class="far fa-thumbs-up col-sm-4">Like</i>
          <i  class="far fa-comment col-sm-4"> Comments</i>
        <i class="far fa-share-square col-sm-4 "> Share</i>
    </div>
    <hr>
    <form action="post">
      <div class="form-group">
        <input style="border-radius: 20px;" type="text" class="form-control" placeholder="Write a comment..." name="text1">
      </div>
    </form>
    
  </div>
</div>
</div>
<br>
</div>
{% endfor %}
</div>

{% endblock %}
