{% extends "base.html" %}
{% load static %}
{% block search%}
  <form class="form-inline my-2 my-lg-0">
      
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="si" value="{{ request.GET.si }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    
  </form>

  {% endblock %}  
{% block content%}

  <h1>My Post : </h1>
  <a style="padding-inline-end: 12px" class="btn btn-outline-dark" href="/students/mypost/create">New Post<span style="padding-inline-start: 8px" class="fa fa-plus"></span> </a>
  <hr>
     
<div class="p-5">
    {% for n1 in mypost_list %}
  <div class="col-sm-5 offset-sm-4"> 
<div class="card w-50">
  
  <div class="card-body;">
     <div class="col">
        <h6 style="margin-left:20px;">{{n1.cr_date | date:"d/m/y"}}</h6>
        <h3>{{n1.msg}}</h3>
        <a style="margin-top: 5px;" href="/students/mypost/{{n1.id}}"><img style="width: 100%; height: aouto;border-radius: 3%;" src='/media/{{n1.pic}}' alt=""></a>
     
      
    </div>
    
    <div class="row"> 
        
    <a style="padding-inline-end: 12px" class="btn btn-outline-danger btn-sm" href="/students/mypost/delete/{{n1.id}}">Delete <span style="padding-inline-start: 8px" class="far fa-trash-alt"></span> </a>
    <a style="padding-inline-end: 12px" class="btn btn-outline-danger btn-sm" href="/students/mypost/edit/{{n1.id}}">Edit<span style="padding-inline-start: 8px" class="far fa-trash-alt"></span> </a>
    </div>
    
  </div>
</div>
</div>
<br>
{% endfor %}
</div>
{% endblock %}
