{% extends "base.html" %}

{% block content%}
 <h1>Events detail:-</h1>
 <br>
 

 <div class="col-sm-6 offset-sm-3">
   
        
        <div class="card" style="width: 60rem; ">
             <img style="width: 100%; height: auto;" src="/media/{{notice.image}}" class="card-img-top rounded-top" alt="...">
             <div class="card-body" >
               
                   <h5 class="card-title" style="background-color:rgb(160, 121, 121);text-align:center"; >{{notice.subject}}</h5>
                   <p class="card-text"><b>Detail:</b>  {{notice.msg}}</p>
                   <br>
                   <p class="card-text"><b>Venue:</b>  {{notice.venue}}</p>
                   <p class="card-text"><b>Contact :</b>  {{notice.contact_detail}}</p>
                   <p class="card-text"><b>Date :</b>  {{notice.cr_date}}</p>
                  
                  <br>
               
               <a href="/students/notice" class="btn btn-outline-dark">Back</a>
             </div>
           </div>
        
           </div>

{% endblock %}

