{% extends "base.html" %}

{% block content%}
 <h1>Events detail:-</h1>
 <br>
 

 <div class="col-sm-2">
        
        <div class="card" style="width: 18rem; ">
             <img src="/media/{{notice.image}}" class="card-img-top rounded-top" alt="...">
             <div class="card-body" >
               
                   <h5 class="card-title" style="background-color:silver;">{{notice.subject}}</h5>
                   <p class="card-text">{{notice.msg}}</p>
                  {{notice.cr_date}}
                  <br>
               
               <a href="/students/notice" class="btn btn-outline-dark">Back</a>
             </div>
           </div>
        
           </div>

{% endblock %}