{% extends "base.html" %}
{% load static %}
{% block search%}
  <form class="form-inline my-2 my-lg-0">
      
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="si" value="{{ request.GET.si }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    
  </form>

  {% endblock %}  
  
{% block content %}
<h1>Friends :</h1>
<hr>

<div class="p-5">
    {% for n1 in profile_list %}
  <div class="col-sm-5 offset-sm-4"> 
<div class="card w-50">
  
  <div class="card-body;">
     <div class="row">
      <a style="margin-top: 5px;" href="/students/profiles/{{n1.id}}"><img style="width: 60px; height:60px;border-radius: 50%; margin-left:20px;" src='/media/{{n1.pic}}' alt=""></a>
     <div class="col">
        <a style="margin-left: 20px;" href="/students/profiles/{{n1.id}}">{{n1.name}}</a> <br>
       
        <h6 style="margin-left:20px;">Current job:- {{n1.current_job}}</h6>
     </div>
      
    </div>
    
    <div class="row"> 
        <h6 style="margin-left:39px;">{{n1.branch}}</h6>
        <a style=" margin-left: 200px;" class="btn btn-primary btn-sm" href="/students/profiles/follow/{{n1.id}}">Request <span style="padding-inline-start: 4px" class="fa fa-user-plus"></span></a>
      
    </div>
    
  </div>
</div>
</div>
<br>
{% endfor %}
</div>
{% endblock %}
